<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
		<key>textContent</key>
		<dict>
			<key>textContent</key>
			<string>今天天气不错！！！</string>
		</dict>
		<key>imageContent</key>
		<dict>
			<key>imageContentURL</key>
			<string>example.jpeg</string>
		</dict>
		<key>interaction</key>
		<dict>
			<key>likeCount</key>
			<integer>10000</integer>
			<key>commentCount</key>
			<integer>11000</integer>
			<key>forwardCount</key>
			<integer>21300000</integer>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>周杰伦</string>
			<key>description</key>
			<string>亚洲流行天王</string>
		</dict>
		<key>container</key>
		<dict>
			<key>dynamic</key>
			<dict>
				<key>content</key>
				<string>今天天气不错!!!</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>王力宏</string>
			<key>description</key>
			<string>亚洲优质偶像</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>鹿晗</string>
			<key>description</key>
			<string>小鲜肉</string>
		</dict>
	</dict>
	<dict>
		<key>profile</key>
		<dict>
			<key>name</key>
			<string>欧弟</string>
			<key>description</key>
			<string>综艺小天王</string>
		</dict>
	</dict>
</array>
</plist>
